# source .env
alias srcenv="source ${WORKSPACE_HOME}/dotfiles/.env"

# node alias
alias node='unalias node ; unalias npm ; nvm use default ; node $@'

# npm alias
alias npm='unalias node ; unalias npm ; nvm use default ; npm $@'