# Java Home
export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home"

# NVM Home
export NVM_DIR="$HOME/.nvm"

# Tesseract
export TESSDATA_PREFIX="/usr/local/Cellar/tesseract/3.05.01/share/tessdata"

# MySQL
export PATH="${PATH}:/usr/local/mysql/bin"

# NVM Bin
export PATH="${PATH}:/usr/local/opt/nvm"

# Brew sbin
export PATH="${PATH}:/usr/local/sbin"
